body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    padding: 0%;
    margin: 0%;
}

nav{
    background-color: rgb(88, 33, 84);
    color: white;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;

    display:flex;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;

}

.posts-container, 
.post-container{
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    box-sizing: border-box;
}

.posts-container .post{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.posts-container .post:hover{
    background-color: blueviolet;
    color: white
}